// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
    padding-top: 8.5vh;
    height: 100%;
    background-color: $true-white;
}

.navbar{
    background-color: $white;
    font-family: 'Arsenal';
    font-size: 18px;
    box-shadow: 0px 1px 3px rgba(0,0,0,.08) !important;
}

.navbar-brand{
    color: #000000;
}

.container{
    outline: none;
}

.custom-logo-link .img-fluid{
    width: auto;
}

.navbar-logo{
    max-height: 5.5vh;
}

#page-wrapper {
    padding-top: 5px;
    min-height: 95vh;
}

#index-wrapper {
    padding-top: 5px;
    min-height: 95vh;
}

#wrapper-footer {
    background-color: $secondary;
    color: $white;
}

.navbar-nav .active{
    color: $pastel-primary!important;
}

nav .nav-link{   
    line-height: 100%; 
    color: $gray;
}

nav .nav-link:hover{
    background-color: $pastel-primary;
}

.showcase{
    margin-top: 10px;

    margin-left: 0px;
    margin-right: 0px;

    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.showcase-tabs{
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    //align-content: space-around;
    justify-content: space-around;
    background-color: $secondary;
    padding-left: 20%;    
    padding-right: 20%;
}

.showcase-card{
    width: 400px; 
}

.infotab{
    display: block;
    font-family: 'Arsenal';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width: 180px!important;
    max-width: 180px;
    background-color: $secondary;
    color: $white;
}

.infotab:hover{
    text-decoration: none;
}

.seeme{
    background-color: $pastel-primary;
}

.tab-content{
    width: 100%;
}

.tab-thumbnail{
    object-fit: cover;
    padding: 0;
    margin: 0;
    width: auto;
    overflow: hidden;
}

.tab-box{
    overflow: hidden;
}

.thumbnail-container {
  display: block;
  position: relative;
  text-align: center;
  width: 300px;
  height: 300px;
}

.centered {
  position: absolute;
  background-color: $primary-semi;
  color: $white;
  font-weight: 500;
  bottom: 0%;
  left: 0%;
  width: 100%;
  max-height: 20%;
  min-height: 20%;
  overflow: hidden;
}

.carrusel{
    max-height: 30vh;
    display: inline;
}


.carousel-image{
    width: 100%;
}

.card{
    outline: none;
    margin: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-color:$white;
    box-shadow: 0px 1px 3px rgba(0,0,0,.08) !important;
}

.card:focus {
    outline: none;
}


.card-title{
    text-align: center;
}

.card-text{
    font-weight: 360;
    color: $secondary;
}

.card-body{
    display: flex;
    justify-content: center;
}

.btn-secondary{
    background-color: $pastel-primary;
    border-color: $pastel-primary;
    font-family: 'Arsenal';
    font-size: smaller;
    font-weight: 600;
}

.thumb-box{
    display: block;
    width: 200px;
    height: 200px;
    min-width: 200px;
}

.blog-thumbnail{
    display: block;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.blog-excerpt{
    padding: 20px;
}

.portada-card{
    width: 300px;
}

.separador {
    display: flex;
    justify-content: center;
}

.paraguitas {
    height: 3vh;
    width: auto;
}

.instagram-feed{
    padding-top: 4.5vh;
}

.site-info{
    font-size: .95rem;
}

.site-contact a:hover{
    text-decoration: none;
}

.mobile-post-excerpt {
    display: none;
}


.entry-title-mobile{
    font-size: 1em;
}

.post-index-row{
    margin: 10px;
    margin-top: 25px;
}

@media screen and (max-width: 600px) {
  #index-wrapper{
    margin-left: 5vw;
  }

  .blog-excerpt {
    display: none;
  }

  .entry-title{
    font-size: 1em;
   }

  .mobile-post-excerpt {
    max-width: 200px;
    display: block;
    margin: 10px;
    margin-bottom: 50px;

  }
}
