// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');


$primary: #ee4fa5;
$primary-semi: rgba(238, 79, 165, 0.5);
$pastel-primary: #f48fc5;
$secondary: #292f36;
$secondary-semi: rgba(41, 47, 54, 0.2);
$white: #fffaff;
$gray: #35363a;
$secondary-alt: #8edfd9;
